// Write your overrides
.swal2-actions {
  color: white;
}

// PDF EXPORT
.pnw-table {
  border: none;
  border-collapse: collapse;
  font-size: normal;
}

.pnw-table th,
.pnw-table td {
  padding: 0;
  border: none;
  text-align: center;
}

.font-white {
  color: white;
}

.font-blue {
  color: #1600ff;
}

.banner {
  background-color: #1600ff;
  font-size: larger;
  text-align: center;
}

.bg-yellow {
  background-color: #feff04;
}

.bg-orange {
  background-color: #ff9902;
}

.bg-blue {
  background-color: #1600ff;
  color: white;
}

.italic {
  font-style: italic;
}

.tbl-collapse {
  border: none;
  border-collapse: collapse;
}

.outer-table {
  border: none;
  border-collapse: collapse;
}

.outer-table .no-slot {
  block-size: 295px;
}

.inner-table {
  border: none;
  block-size: 100%;
  border-collapse: collapse;
}

.bold {
  font-weight: bold;
}

.practice {
  font-size: x-small;
}

tfoot td {
  background-color: #063763;
  font-size: smaller;
}

.pdf-content {
  td.mainTd {
    border-right: 1px solid #000000;
  }
  .tbl-collapse {
    td {
      &:last-child {
        border-bottom: 0;
      }
      border: 1px solid #000000;
    }
  }
  .outer-table {
    td {
      border-top: 1px solid #000000;
      border-right: 1px solid #000000;
      border-left: 0;
      border-bottom: 0;
      .slot-table {
        td {
          border-right: 0;
        }
        td.row-multi-block {
          border-top: 0 !important;
          position: relative;
          top: -1px;
          block-size: 50.25px;
        }
      }
    }
    td.slot-table-holder {
      border-top: 0;
      &:last-child {
        border-right: 0 !important;
      }
    }
    td.with-border {
      block-size: 24.61px;
      border-right: 0;
      &.no-slot {
        border-right: 0 !important;
      }
    }
  }
  .row-multi-block {
    .inner-table {
      td {
        &:last-child {
          border-right: 0 !important;
        }
        border-right: 1px solid #000000 !important;
      }
    }
  }
  td.bold.italic {
    block-size: 24.61px;
  }
  td.bold.italic.row-h60 {
    block-size: 50.6px !important;
  }
  .slot-table-holder {
    td.bold {
      block-size: 24.61px;
    }
    td {
      block-size: 24.61px;
      position: relative;
      top: -0.61px;
    }
  }

  td.slot-date {
    font-weight: bold;
  }
}
